/* HEADER */


header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: 0.1s;
    font-family: 'Cabin';
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    color: #141414;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
}

.menu{
    display: flex;
    list-style: none;
    gap: 50px;
}

.menu li a{
    text-decoration: none;
    color: #141414;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    padding: 10px 0;
    transition: 0.2s;
}

.menu li a:hover{
    color: #01BBFF;
    transition: 0.2s;
    
}


header.rolagem{
    background-color: #e3eeff;
    transition: 0.2s;
    padding: 20px 4%;


}



/* media query */
@media (max-width:800px){
    header{
        padding: 40px 4%;
    }

}

@media (max-width:600px){
    .navbar{
        flex-direction: column;
    }

    .menu{
        gap: 28px;
    }

    .menu li{
       margin-top: 10px;
    }

    .menu li a{
        font-size: 0.9rem;
        padding: 10px 0;
    }
}