/* HOME */
body{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
main{
    height: 100vh;
    color: #3e3d3d;
}

.main-container{
    align-content: center;
}

.main-conteudo{
    display: flex;
    margin-top: 200px;
    gap: 30px;
    padding: 0 40px;
}

.info h3 {
    text-transform: uppercase;
    font-size: 1.23rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.info h2{
    font-weight: 300;
    font-size: 2.72rem;
    line-height: 3.15rem;
    margin-bottom: 1.95rem;
}

.desconto{
    font-weight: bold;
    font-size: 3.38rem;
}

.info h1 {
    font-size: 2.52rem;
    color: #aac0bf;
    margin-bottom: 3.15rem;
}

.info h1 span{
    font-family: "cabin";
    font-size: 3.024rem;
    color: #3e3d3d;
    font-weight: 700;
}

.info p{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 4.78rem;
}

.info a{
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    padding: 16px 60px;
    background: #01BBFF;
    border-radius: 35px;
    display: inline-block;
}